<!DOCTYPE html>
<html lang = "en" dir = "ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forgot Password </title>
    <link rel="stylesheet" href="/css/ForgotPassword.css">
</head>
<body>
<div class="wrapper">
    <h2>Forgot Password</h2>
    <form th:action="@{/forgot-password}" method="post">
        <div class="input-box">
            <input name="email" type="email" placeholder="Email" required>
        </div>
        <span th:text="${errorMess}" style="color: red"></span>
        <div class="input-box button">
            <input type="Submit" value="Send Code">
        </div>
        <div class="text">
            <h3>Remembered your password ?- <a href="/login">Login</a></h3>
        </div>
    </form>
</div>
</body>
</html>