<!DOCTYPE html>
<html lang = "en" dir = "ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register </title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/RegisterForm.css">
</head>
<body>
<div class="wrapper">
    <h2>Register Account</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">

        <div class="input-box">
            <input name="userName" type="text" placeholder="Username" th:field="*{userName}" required>
        </div>
        <span th:text="${userError}" style="color: red"></span>
        <span th:text="${userSpaceError}" style="color: red"></span>

        <div class="input-box">
            <input name="fullName" type="text"
                   pattern="[A-Za-z ]+" placeholder="Full Name" th:field="*{fullName}" required
                   title="Full Name must contain Letters and Space">
        </div>
        <span th:text="${fullNameError}" style="color: red"></span>

        <div class="input-box">
            <input name="email" type="email" placeholder="Email" th:field="*{email}" required>
        </div>
        <span th:text="${emailError}" style="color: red"></span>

        <div class="input-box">
            <input name="phoneNumber" pattern="[0-9]{10}"
                   type="text" placeholder="Phone Number" th:field="*{phoneNumber}" required
                   title="Phone Number must be at 10 numbers">
        </div>
        <span th:text="${phoneError}" style="color: red"></span>

        <div class="input-box">
            <input type="password" name="password" id="password"
                   placeholder="Password" th:field="*{password}" required
                   pattern="[a-z0-9@#$&]{8,}" title="Password must be at least 8 characters long">
            <i class="fa fa-eye-slash" aria-hidden="true" id="eye-pass"
               onclick="togglePassword('password', 'eye-pass')"></i>
        </div>
        <div>
            <h3>* Password contain at least 8 characters</h3>
            <h3>* Password contain a-z, 0-9, @, #, $, & digits and not contain space</h3>
        </div>

        <div class="input-box">
            <input type="password" name="confirmPass" id="confirmPassword"
                   placeholder="Confirm Password" th:value="${confirmPass}" required
                   pattern="[a-z0-9@#$&]{8,}" title="Password must be at least 8 characters long">
            <i class="fa fa-eye-slash" aria-hidden="true" id="eye-confirm-pass"
               onclick="togglePassword('confirmPassword', 'eye-confirm-pass')"></i>
        </div>
        <span th:text="${passError}" style="color: red"></span>

        <div class="input-box button">
            <input id="submit" type="Submit" value="Register Now">
        </div>
        <div class="text">
            <h3>Already have an account ? - <a href="/login">Login now</a></h3>
        </div>
    </form>
</div>
<script src="/js/ToggleEyePassword.js"></script>
</body>
</html>