<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Detail</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/plugins.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/kaiadmin.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/demo.css}" />
</head>

<body>
<div class="container mt-4">
<div id="layout">
    <!--Side Bar-->
  <nav class="sidebar p-3">
    <h4 class="text-center dashboard-title" style="color: #575962">SkyFast</h4>
    <ul class="nav flex-column" id="sidebar-links">
      <li class="nav-item">
        <a href="/homepage/profile" class="nav-link">
          <i class="fas fa-users"></i>Profile
        </a>
      </li>
      <li class="nav-item">
        <a href="/flights" class="nav-link" data-page="flightManagement.html">
          <i class="fas fa-plane"></i>Flight Management
        </a>
      </li>
      <li class="nav-item">
        <a href="/airlines/list" class="nav-link" data-page="airlineManagement.html">
          <i class="fas fa-plane"></i>Airline Management
        </a>
      </li>
      <li class="nav-item">
        <a href="/users/list" class="nav-link" data-page="userlist.html">
          <i class="fas fa-users"></i>User Management
        </a>
      </li>
      <li class=" nav-item">
        <a href="/admin/planeCategory">
          <i class="fa fa-gavel"></i> <span>Airplane Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/staff/refund/list">
          <i class="fa fa-globe"></i> <span>Refund Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/bookings">
          <i class="fa fa-cart-plus"></i> <span>Booking Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/promotions">
          <i class="icon-present"></i> <span>Promotion Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/manager/airports">
          <i class="icon-plane"></i> <span>Airport Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/manager/routes">
          <i class="fas fa-route"></i> <span>Route Management</span>
        </a>
      </li>
    </ul>
  </nav>
  <!--  End Side bar-->

<!--Form Update-->
  <div class="card shadow-lg p-4" style="width: 1545px;">
        <h2 class="text-dark fw-bold">Booking Detail</h2>
        <form th:action="@{/admin/bookings/update/{id}(id=${booking.id})}" method="post">
          <div class="mb-3">
            <label for="bookingId" class="form-label"> </label>
            <input type="text" class="form-control" id="bookingId" th:value="${booking.id}" readonly>
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="userName" th:value="${booking.userName}" readonly>
          </div>
          <div class="mb-3">
            <label for="bookingDate" class="form-label">Booking Date</label>
            <input type="text" class="form-control" id="bookingDate" th:value="${booking.bookingDate}" readonly>
          </div>
          <div class="mb-3">
            <label for="totalPrice" class="form-label">Total Price</label>
            <input type="number" step="0.01" class="form-control" id="totalPrice" name="totalPrice" th:value="${booking.totalPrice}" readonly>
          </div>
          <div class="mb-3">
                <label for="promotion" class="form-label">Promotion</label>
                <input type="text" class="form-control" id="promotion" th:value="${booking.code}" readonly>
          </div>
          <div class="mb-3">
              <label for="bookingCode" class="form-label">Booking Code</label>
              <input type="text" class="form-control" id="bookingCode" th:value="${booking.bookingCode}" readonly>
          </div>
          <div class="mb-3">
            <label for="bookingStatus" class="form-label">Booking Status</label>
            <select class="form-select" id="bookingStatus" th:field="${booking.bookingStatus}">
              <option value="Done">Done</option>
              <option value="Processing">Processing</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
          <div class="mb-3">
            <a href="/admin/bookings" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--End Form Update-->
<!-- JS Files -->
<script th:src="@{/assets/js/plugin/webfont/webfont.min.js}"></script>
<script>
  WebFont.load({
    google: { families: ["Public Sans:300,400,500,600,700"] },
    custom: {
      families: [
        "Font Awesome 5 Solid",
        "Font Awesome 5 Regular",
        "Font Awesome 5 Brands",
        "simple-line-icons",
      ],
      urls: [/* Thêm Thymeleaf cho đúng đường dẫn */
        /* "../assets/css/fonts.min.css" */
        "/assets/css/fonts.min.css"
      ],
    },
    active: function () {
      sessionStorage.fonts = true;
    },
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>