

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOFAR Travel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/HomePage.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">SKYFAST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expande  d="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/homepage}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/flight}">Flight</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/airplane}">Plane</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/homepage}">Contact</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <a class="btn btn-outline-primary me-2" th:href="@{/register}">Sign Up</a>
            <a class="btn btn-primary" th:href="@{/login}">Login</a>
        </div>
    </div>
</nav>

<!-- <header class="hero-section text-center text-white">
    <div class="container">
        <h1>Last Minute Deal</h1>
        <p>Top Discount Paris Hotels</p>
        <a href="#" class="btn btn-primary">Book Now</a>
    </div>
</header> -->

<section class="search-flight bg-light py-5 d-flex justify-content-center">
    <div class="container-search">
        <div class="header">
            <div>
                <button class="toggle-btn active">Một chiều / Khứ hồi</button>
            </div>
        </div>
        <form class="search-form">
            <div class="form-group">
                <label>Từ</label>
                <input type="text" class="destination" id="from-input" name="departure" placeholder="Nhập điểm đi" th:value="${departure}">
                <div class="dropdown-content">
                    <div class="option" th:each="routeDeparture : ${uniqueRoutesDeparture}" th:text="${routeDeparture}" ></div>
                </div>
            </div>

            <button type="button" id="swap-btn">↔</button>

            <div class="form-group">
                <label>Đến</label>
                <input type="text" class="destination" id="to-input" name="arrival" placeholder="Nhập điểm đến" th:value="${arrival}">
                <div class="dropdown-content">
                    <div class="option" th:each="routeArrival : ${uniqueRoutesArrival}" th:text="${routeArrival}"></div>
                </div>
            </div>

            <div class="form-group">
                <label>Số hành khách</label>
                <input type="text" id="passenger-count" name="people" th:value="${passengerCount}" readonly>
                <div class="dropdown-content-psg" id="passenger-dropdown">
                    <div class="passenger">
                        <span>Người lớn</span>
                        <button type="button" class="decrease" data-type="adult">-</button>
                        <span class="count" id="adult-count">1</span>
                        <button type="button" class="increase" data-type="adult">+</button>
                    </div>
                    <div class="passenger">
                        <span>Trẻ em</span>
                        <button type="button" class="decrease" data-type="child">-</button>
                        <span class="count" id="child-count">0</span>
                        <button type="button" class="increase" data-type="child">+</button>
                    </div>
                    <div class="passenger">
                        <span>Em bé</span>
                        <button type="button" class="decrease" data-type="infant">-</button>
                        <span class="count" id="infant-count">0</span>
                        <button type="button" class="increase" data-type="infant">+</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Ngày khởi hành</label>
                <input type="date" id="departure-date" name="departuredate" th:value="${departuredate}">
            </div>
            <div class="form-group">
                <label class="checkbox-container">
                    <input type="checkbox" id="round-trip"> Khứ hồi
                </label>
                <input type="date" id="return-date" name="returndate" value="Chọn ngày về">
            </div>
            <div class="form-group">
                <label>Hạng ghế</label>
                <select id="class-input" name="class" class="form-select">
                    <option th:each="classcategory : ${classcategories}"
                            th:value="${classcategory.getId()}"
                            th:text="${classcategory.getName()}">
                        th:selected="${classcategory.getId() == flightClass}">
                    </option>
                </select>
            </div>
            <button type="submit" class="search-btn">Tìm chuyến bay</button>
        </form>
    </div>
</section>

<section class="hot-trips py-5">
    <div class="container">
        <h2>Book and get the best flight deals</h2>
        <div class="row">
            <div class="col-md-6" th:each="ticket : ${tickets}">
                <div class="trip-item p-3 border rounded shadow-sm">
                    <p th:text="'Route: ' + ${routeMap[ticket.route.id][0]} + ' - ' + ${routeMap[ticket.route.id][1]}">Ticket ID</p>
                    <p th:text="${ticket.getDepartureTime()}">Time</p>
                    <p><strong th:text="'Price: $' + ${ticket.price}">Price</strong></p>

                    <form th:action="@{/flight}" method="GET">

                        <input type="hidden" name="departureHome" th:value="${routeMap[ticket.route.id][0]}" />
                        <input type="hidden" name="arrivalHome" th:value="${routeMap[ticket.route.id][1]}" />
                        <input type="hidden" name="departureTimeHome" th:value="${#temporals.format(ticket.getDepartureTime(), 'yyyy-MM-dd')}" />
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            </div>
        </div>


        <!--        <h2>Hot Trips</h2>-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-6">-->
        <!--                <div class="trip-item p-3 border rounded shadow-sm">-->
        <!--                    <h4>Spectacular City Views</h4>-->
        <!--                    <p>4 Attractions - 2 days, 1 night</p>-->
        <!--                    <p><strong>Price: $200</strong> <del>$280</del></p>-->
        <!--                    <button class="btn btn-primary">Book Now</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="col-md-6">-->
        <!--                <div class="trip-item p-3 border rounded shadow-sm">-->
        <!--                    <h4>Romantic New York</h4>-->
        <!--                    <p>4 Attractions - 2 days, 1 night</p>-->
        <!--                    <p><strong>Price: $200</strong> <del>$280</del></p>-->
        <!--                    <button class="btn btn-primary">Book Now</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>
<!--<div class="container">-->
<!--    <h1>Vietjet Air Flight Information</h1>-->

<!--    <div class="card-container">-->
<!--        &lt;!&ndash; Card 1 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-tag"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Exclusive Flight Deals</h3>-->
<!--                <p class="card-info">-->
<!--                    <a href="#">Ho Chi Minh City - Da Nang, đ 803.936</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Card 2 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-map-marker-alt"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Most Popular Routes</h3>-->
<!--                <p class="card-info">-->
<!--                    <a href="#">Taipei - Ho Chi Minh City</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Card 3 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-plane"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Most Popular Airport</h3>-->
<!--                <p class="card-info">-->
<!--                    <a href="#">SGN</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Card 4 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-calendar"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Lowest Fare Month</h3>-->
<!--                <p class="card-info">Apr</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Card 5 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-plane-departure"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Weekly Flight Average</h3>-->
<!--                <p class="card-info">2301</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Card 6 &ndash;&gt;-->
<!--        <div class="card">-->
<!--            <div class="icon-container">-->
<!--                <i class="fas fa-map-pin"></i>-->
<!--            </div>-->
<!--            <div class="card-content">-->
<!--                <h3>Total Destinations</h3>-->
<!--                <p class="card-info">56</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<section class="flight-schedule py-5">
    <div class="container">
        <h2>Flight Schedule</h2>
        <div class="date-selector" id="date-buttons">
            <!-- Nút ngày tháng sẽ được thêm tự động bằng JavaScript -->
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Flight No.</th>
                    <th>Departs</th>
                    <th>Arrives</th>
                    <th>Departure City</th>
                    <th>Arrival City</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <td th:text="${flight.getFlightNumber()}"></td>
                    <td th:text="${flight.getDepartureTime()}"></td>
                    <td th:text="${flight.getArrivalTime()}"></td>
                    <td th:text="${routeMap[flight.route.id][0]}"></td>
                    <td th:text="${routeMap[flight.route.id][1]}"></td>
                    <td>
                        <form th:action="@{/flight}" method="GET">
                            <input type="hidden" name="departureTimeHome" th:value="${#temporals.format(flight.getDepartureTime(), 'yyyy-MM-dd')}" />
                            <input type="hidden" name="departureHome" th:value="${routeMap[flight.route.id][0]}" />
                            <input type="hidden" name="arrivalHome" th:value="${routeMap[flight.route.id][1]}" />
                            <button type="submit" class="btn btn-primary">View Details</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
<div class="container">
    <div class="tabs">
        <button class="tab-btn active" data-tab="flights">Top Popular Flights</button>
        <button class="tab-btn" data-tab="routes">Top Popular Routes</button>
    </div>

    <div class="tab-content active" id="flights">
        <div class="flight-grid" >
            <a href="#" class="flight-link" th:each="topArrival : ${topArrivals}" th:text="'Flight to ' + ${topArrival[0]}"></a>
        </div>
    </div>

    <div class="tab-content" id="routes">
        <div class="flight-grid">
            <a href="#" class="flight-link" th:each="topRoute : ${topRoutes}" th:text="'Flights From ' + ${topRoute[1]} + ' to ' + ${topRoute[2]}"></a>
        </div>
    </div>
</div>

<div class="container">
    <h1>SkyFast Partners</h1>

    <div class="partners-grid">
        <div class="partner-logo" th:each="airline : ${airlines}">
            <img th:src="@{${airline.getImage()}}" height="60" width="120"   th:alt="${airline.getAirlineName()}" />
        </div>

    </div>
</div>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2025 SkyFast Travel. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/HomePage.js"></script>

</body>
</html>


