<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #9db5cc;
            text-align: center;
        }
        h2 {
            font-size: 3rem;
            font-weight: bold;
            color: #0ba723;
        }
    </style>
</head>
<body>
<h2>No Tickets in the Booking</h2>
</body>
</html>