<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/Profile.css">
</head>
<body>
<div class="container">
    <header>
        <h3>Profile</h3>
    </header>
    <main>
        <div class="profile-section">
            <h2>Personal Information</h2>
            <form th:action="@{/homepage/edit-profile}" th:object="${user}" method="post">
            <div class="profile-info">
                <div class="info-item">
                    <div class="info-label">Full Name</div>
                    <input name="fullName" class="info-input" pattern="[A-Za-z ]+"
                           type="text" th:value="${user.fullName}" required
                           title="Full Name must contain Letters and Space">
                </div>
                <div class="info-item">
                    <div class="info-label">Email</div>
                    <div class="info-value" th:text="${user.email}"></div>
                </div>
                <div class="info-item">
                    <div class="info-label">Phone Number</div>
                    <input name="phoneNumber" class="info-input" pattern="[0-9]{10}"
                           type="text" th:value="${user.phoneNumber}" required
                           title="Phone Number must be at 10 numbers">
                </div>
                <div class="info-item">
                    <div class="info-label">Address</div>
                    <input name="address" class="info-input" type="text"
                           th:value="${user.address}" required>
                </div>
                <div class="info-item">
                    <div class="info-label">Date of Birth</div>
                    <input name="dateOfBirth" class="info-input" type="date" max="9999-12-31"
                           th:value="${#temporals.format(user.dateOfBirth, 'yyyy-MM-dd')}" required>
                </div>
                <div class="info-item">
                    <div class="info-label">Last Updated</div>
                    <div class="info-value" th:text="${#temporals.format(user.updateAt, 'yyyy-MM-dd')}"></div>
                </div>
            </div>
                <div class="edit-profile">
                    <input class="edit-button" type="Submit" value="Edit Profile">
                    <a th:href="@{/homepage}"><button class="cancel-button" type="button">Cancel</button></a>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>