<!DOCTYPE html>
<html lang = "en" dir = "ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Change Password </title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ChangePassword.css">
</head>
<body>
<div class="wrapper">
    <h2>Change Password</h2>
    <form th:action="@{/homepage/confirm-change}" method="post">
        <div class="input-box">
            <input name="oldPass" type="password" id="oldPassword" placeholder="Old Password" required
                   pattern="[a-z0-9@#$&]{8,}" title="Password must be at least 8 characters long">
            <i class="fa fa-eye-slash" aria-hidden="true" id="eye-old-pass"
               onclick="togglePassword('oldPassword', 'eye-old-pass')"></i>
        </div>
        <span th:text="${errorMatches}" style="color: red"></span>
        <div class="input-box">
            <input name="changePass" type="password" id="password" placeholder="Password" required
                   pattern="[a-z0-9@#$&]{8,}" title="Password must be at least 8 characters long">
            <i class="fa fa-eye-slash" aria-hidden="true" id="eye-pass"
               onclick="togglePassword('password', 'eye-pass')"></i>
        </div>
        <div>
            <h3>* Password must have at least 8 character</h3>
            <h3>* Password can have lower letter, number and @,#,$,& digit</h3>
        </div>
        <div class="input-box">
            <input name="changePassConfirm" type="password" id="confirmPassword"
                                                        placeholder="Confirm Password" required>
            <i class="fa fa-eye-slash" aria-hidden="true" id="eye-confirm-pass"
               onclick="togglePassword('confirmPassword', 'eye-confirm-pass')"></i>
        </div>
        <span th:text="${changePassError}" style="color: red"></span>
        <span th:text="${changeSuccess}" style="color: red"></span>
        <div class="input-box button">
            <input type="Submit" value="Change Password">
            <a th:href="@{/homepage}"><button class="cancel-button" type="button">Cancel</button></a>
        </div>
    </form>
</div>
<script src="/js/ToggleEyePassword.js">
</script>
</body>
</html>